.iress-allegro-backdrop {
    position: fixed;
    z-index: 1040;
    background-color: #000;
    opacity: .5;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.iress-allegro-container {
    display: none;
    position: fixed;
    z-index: 1050;
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.iress-allegro-popup{
    display: none;
    width: 800px;
    height: 500px;
    position: absolute;
    top: 100px;
    z-index: 100000;
    background: #FFFFFF;
}

.iress-allegro-popup-iframe{
    border: none;
}

.iress-allegro-order-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 10px;
    width: 30px;
    border-radius: 7px;
    overflow: hidden;
    height: 30px;
    box-shadow: 0px 0px 6px #000000;
}