<div class="iress-allegro-container">
    <div class="iress-allegro-popup">
        <input type="hidden" id="hidden-code" />
        <input type="hidden" id="hidden-exchange" />
        <input type="hidden" id="hidden-security-id" />
        <iframe class="iress-allegro-popup-iframe" src="http://au02-psutha-pc3.devel.iress.com.au:8081/" width="100%" height="100%"></iframe>
    </div>
</div>
<div class="iress-allegro-backdrop"></div>

