@import 'base';
@import '~bootstrap/scss/bootstrap.scss';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.blue-heading-1{
  color: blue;
  font-size: 20px;
}

.label-1 {
  margin-left: 20px;
}

.textfield-1{
  margin-left: 20px;
  display: inline-block;
}

.btn-1{
  margin-left: 20px;
}
